<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="UserDatabase"
			 connectionString="server=sql11.freesqldatabase.com;database=sql11692795;user=sql11692795;password=j9ky13rSlb;port=3306;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>