<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>KAWUVY+hxPxtjzCXUDh+vFHu4GNwx+C8ITx+MNge+sV4zDe8Y9M3HqF9wTyDXb8Kk+HOyMGzKNxhscGYjaT9VAuuiwLfdW0Th3f+frIXxjRWUwVzH7suAd/GNQP8NSkgjWSOQtr2KqvaV9RgDQqIW3UZ1DylpB8RYxTKzxrsomXDyQ/eo0F0Z0VIs/RlETL36FvuJ5KoKkjMKOHb6WD3b/WDHS0gzp1acgy+vIrBwhWEwrWbBI4ArDrTpwyaycYX2vjK8FkzHjhmscdur7wihHcng4pghf0wrv/+mPZtPvZ6haNkIZxgYbqg1tn3jXgihov0YuA8kY8DDHiLO9sTAA==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>JxoTxdSbkZYN5OYT4L+u8RA6eEGcJQAemn0d3ZstASEtjRc4pxRfnwG7ejYNIIPf</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>